<app-header titulo="Reserva de Cancha"></app-header>

<ion-content>

  <ion-card>
    <img alt="Cancha" *ngIf="canchita?.imagen" [src]="canchita?.imagen" />
    <ion-card-header>
      <ion-card-title>{{canchita?.nombre}}</ion-card-title>
      <ion-card-subtitle>{{canchita?.precioHora | currency}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    </ion-card-content>
  </ion-card>

<div class="principal">
  <ion-label>
    <h2>Tiempo de reserva</h2>
  </ion-label>
  <div class="tiempo" >
    <ion-list>
      <ion-item>
        <ion-label>Horas</ion-label>
        <ion-select [(ngModel)]="Horas">
          <ion-select-option>1</ion-select-option>
          <ion-select-option>2</ion-select-option>
          <ion-select-option>3</ion-select-option>
          <ion-select-option>4</ion-select-option>
          <ion-select-option>5</ion-select-option>
          <ion-select-option>6</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>Minutos</ion-label>
        <ion-select [(ngModel)]="Minutos">
          <ion-select-option>15</ion-select-option>
          <ion-select-option>30</ion-select-option>
          <ion-select-option>45</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>

  <ion-item>
    <ion-textarea placeholder="Ingrese observaciones" [autoGrow]="true"
      value="">
    </ion-textarea>
  </ion-item>
</div>
    <ion-button expand="block" (click)="presentAlert()">Confirmar Reserva</ion-button>
<p>{{ handlerMessage }}</p>
<p>{{ roleMessage }}</p>

</ion-content>
<app-footer></app-footer>
