img{
  width: 100%;
  height: 200px;
  border: 30px;
}

.tiempo{
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  justify-content: left;

}

.principal{
  justify-content: center;
}
h2{
  margin: 20px;
}
