<app-header titulo="Registrarse"></app-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Primer nombre</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Registrarme</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<app-footer></app-footer>
