<app-header titulo="Registrarse"></app-header>
<ion-content>

  <div class="background-pic">
    <div class="background-filter">
      <div class="shape"><img src="../../assets/shape.svg" /></div>

      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Registrar Usuario
          </ion-card-title>
          <ion-card-subtitle>
            Crea tu <strong>cuenta</strong> llenando
            el formulario
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div [formGroup]="form">
            <ion-item>
              <ion-input placeholder="Nombres" formControlName="nombres"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Apellidos" formControlName="apellidos"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Email" formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="No. Tel&eacute;fono" formControlName="telefono"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  #passwordEyeRegister  [type]="passwordTypeInput"  formControlName="password"></ion-input>
              <button  item-end  class="btn_eye_icon"  (click)="togglePasswordMode()">
                  <ion-icon  [name]="iconpassword"></ion-icon>
              </button>
            </ion-item>

            <div class="bottom-section">
              <ion-button (click)="Guardar()">Registrarme</ion-button>
              <span>
                <ion-text>Ya tienes una cuenta? </ion-text>
                <ion-router-link color="success" [routerLink]="['/login']">Sing In</ion-router-link>
              </span>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>


</ion-content>

<app-footer></app-footer>
