<app-header titulo="Iniciar Sesión"></app-header>

<ion-content>
  <div class="background-pic">
    <div class="background-filter">
      <div class="shape"><img src="../../assets/shape.svg" /></div>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            MiCanchita
          </ion-card-title>
          <ion-card-subtitle>
            ¡Llego la hora de la diversi&oacute;n!
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div [formGroup]="form">
          <ion-item>
            <ion-input placeholder="Nombre de Usuario o Email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Password" formControlName="password"></ion-input>
          </ion-item>
          <ion-text [routerLink]="['/recuperarcuenta']" class="a">¿Olividaste tu contraseña?</ion-text>

          <div class="bottom-section">
            <ion-button (click)="Iniciar()">Sign In</ion-button>
            <span>
              <ion-text>¿No tienes una cuenta? </ion-text>
              <ion-router-link color="success" [routerLink]="['/registrarse']">Sing Up</ion-router-link>
            </span>
          </div>
        </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <app-footer></app-footer>
