<ion-header no-border>
  <ion-toolbar>
    <ion-title>MiCanchita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="background-container">
    <div class="background-filter">
      <ion-card>
        <img src="../../assets/images/logomicanchita.png" />
        <ion-card-header>
          <ion-card-title>
            Bienvenidos a MiCanchita
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="irAlLogin()">
            Login
          </ion-button>
        </ion-card-content>
        <div class="bottom-section">
          <span>
            <ion-text>¿No tienes una cuenta? </ion-text>
            <ion-router-link color="success" [routerLink]="['/registrarse']">Sing Up</ion-router-link>
          </span>
        </div>
      </ion-card>
    </div>
  </div>


</ion-content>

<app-footer></app-footer>
