<app-menu></app-menu>
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--   <ion-button (click)="toogleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button> -->
      <ion-menu-button color="primary" menu="PrimerMenu">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Bienvenido {{usuario.nombres}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet id="principal"></ion-router-outlet>
  <div id="container">

    <div class="searchbar">
      <ion-searchbar placeholder="Buscar canchas" no-shadow>
      </ion-searchbar>


      <div class="main-featured-products">
        <ion-slides pager="true" [options]="options" (click)="sliderOptions">
          <ion-slide *ngFor="let cancha of slides | async">
            <ion-card class="main-product-card">
              <ion-card-content>
                <img [src]="[cancha?.imagen]" />

                <ion-card-title>
                  {{cancha.nombre}}
                </ion-card-title>

                <ion-card-subtitle>
                  <ion-item lines="none" full="true">
                    <ion-icon name="star" color="warning"></ion-icon>
                    <ion-icon name="star" color="warning"></ion-icon>
                    <ion-icon name="star" color="warning"></ion-icon>
                    <ion-icon name="star" color="warning"></ion-icon>
                  </ion-item>

                  <div class="time-icon">
                    <ion-icon ios="cash-outline" md="timer" color="warning"></ion-icon>
                    {{cancha?.precioHora | currency}}
                  </div>

                  <ion-button block routerLink="/reservar-cancha/{{cancha?.id}}">Reservar</ion-button>
                </ion-card-subtitle>

              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>

    </div>
  </div>

</ion-content>

<app-footer></app-footer>
